<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<div class="col-12 stretch-card grid-margin" layout:fragment="content_view">
    <div class="card">
        <div class="card-body col-12">
            <div th:if="${param.saveError != null}" class="alert alert-danger min-vw-75" role="alert"
                 th:text="${'Error on saving data of user. Please report this problem.'}">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>
            <div th:if="${param.saveSuccess != null}" class="alert alert-success min-vw-75" role="alert"
                 th:text="${'Successfully saved data of user with ' + param.saveSuccess + ' ID'}">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>
            <div th:if="${param.removeError != null}" class="alert alert-danger min-vw-75" role="alert"
                 th:text="${'Error on removing user. Please report this problem.'}">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>
            <div th:if="${param.removeSuccess != null}" class="alert alert-success min-vw-75" role="alert"
                 th:text="${'Successfully removed user with ' + param.saveSuccess + ' ID'}">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>
            <div th:if="${param.regFail != null}" class="alert alert-danger min-vw-75" role="alert"
                 th:text="${'Password are not same. Pleas try again'}">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>
            <div th:if="${param.regNotFree != null}" class="alert alert-warning min-vw-75" role="alert"
                 th:text="${'Nickname or Email already taken.'}">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>
            <div th:if="${param.regSuccess != null}" class="alert alert-success min-vw-75" role="alert"
                 th:text="${'Successfully registered user with ' + param.regSuccess + ' ID'}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
            </div>

            <a class="btn btn-light" data-toggle="modal" data-target="#add-user">Add new user</a>
            <div class="modal fade" tabindex="-1" role="dialog" id="add-user">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add new User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/signUpFull}" method="post">
                                <div class="form-group">
                                    <label th:text="#{account.firstName}"></label>
                                    <input type="text" class="form-control" name="first_name" required>
                                </div>

                                <div class="form-group">
                                    <label th:text="#{account.lastName}"></label>
                                    <input type="text" class="form-control" name="last_name">
                                </div>

                                <div class="form-group">
                                    <label th:text="#{account.email}"></label>
                                    <input type="email" class="form-control" name="user_email" required>
                                </div>
                                <div class="form-group">
                                    <label th:text="#{account.nickname}"></label>
                                    <input type="text" class="form-control" name="user_nickname" required>
                                </div>
                                <div class="form-group">
                                    <label th:text="#{account.password}"></label>
                                    <input type="password" class="form-control" name="user_password" required>
                                </div>
                                <div class="form-group">
                                    <label th:text="#{account.new.password}"></label>
                                    <input type="password" class="form-control" name="user_re_password" required>
                                </div>
                                <div class="form-group my-2">
                                    <button class="btn btn-success" th:text="#{button.signUpContinue}"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>USERNAME</th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="i : ${allUsers}">
                        <td th:text="${i.id}"></td>
                        <td th:text="${i.fullname}"></td>
                        <td th:text="${i.username}"></td>
                        <td>
                            <a class="btn btn-info" data-toggle="modal" data-target="#modal-details"
                               th:attr="data-target='#modal-details'+${i.id}" th:text="details"></a>
                            <div class="modal fade" tabindex="-1" role="dialog" th:id="modal-details+${i.id}">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">User details.</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="px-4 py-5">
                                                <form th:action="@{/admin/save-account}" method="post">
                                                    <input type="hidden" name="user_id" th:value="${i.id}">
                                                    <div class="form-group">
                                                        <label th:text="#{account.email}"></label>
                                                        <input type="email" class="form-control" name="user_email"
                                                               th:value="${i.email}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label th:text="#{account.nickname}"></label>
                                                        <input type="text" class="form-control" name="user_nickname"
                                                               th:value="${i.username}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label> Password</label>
                                                        <input type="password" class="form-control"
                                                               name="user_password">
                                                    </div>
                                                    <div class="form-group">
                                                        <button class="btn btn-primary">Save Account</button>
                                                    </div>
                                                </form>
                                                <hr>
                                                <form th:action="@{/admin/save-user-pasword/{id}(id=${i.id})}" method="post">
                                                    <div class="form-group">
                                                        <label> Old Password</label>
                                                        <input type="password" class="form-control"
                                                               name="user_old_password ">
                                                    </div>
                                                    <div class="form-group">
                                                        <label th:text="#{account.new.password}"></label>
                                                        <input type="password" class="form-control"
                                                               name="user_new_password ">
                                                    </div>
                                                    <div class="form-group">
                                                        <label th:text="#{account.re.new.password}"></label>
                                                        <input type="password" class="form-control"
                                                               name="user_re_new_password">
                                                    </div>
                                                    <div class="form-group">
                                                        <button class="btn btn-primary">Save New Password</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-icon" data-toggle="modal" data-target="#user-remove"
                                    th:attr="data-target='#user-remove'+${i.id}">
                                <i data-feather="trash-2"></i>
                            </button>
                            <div class="modal fade" tabindex="-1" role="dialog" th:id="user-remove+${i.id}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure to remove this user?
                                        </div>
                                        <div class="modal-footer">
                                            <form th:action="@{/remove-user}" method="post">
                                                <input type="hidden" name="user_id" th:value="${i.id}">
                                                <button class="btn btn-danger">Delete</button>
                                            </form>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span>Cancel</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>
