<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/profileLayout}">
	<div layout:fragment="content_view">
		<div class="row">
			<div class="col-12 col-md-6 col-xl-4 grid-margin" th:each = " i : ${allCourses}">
				<div class="card">
					<div class="card-header" th:text = "${i.name}">
						
					</div>
					<div class="card-body" th:text = "${i.description}" >
						
					</div>
					<div class="card-footer">
						<a class="btn btn-info" th:href="@{'/course/' + ${i.id}}">
							Details
						</a>
					</div>
				</div>
			</div>
		</div>

		<a th:if="${currentPage != 0}" th:href="'/courses/' + ${currentPage - 1}">Previous Page</a>

		<a th:href="'/courses/' + ${currentPage + 1}">Next Page</a>

	</div>
</html>
