
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/editLayout}">
<!--<link rel="stylesheet" type="text/css" th:href="@{/css/simplemde/simplemde.min.css}">-->
<div class="col-12 stretch-card grid-margin" layout:fragment="content_view">
    <div class="card">
        <div class="card-body col-12">
            <form method="post" th:object="${currentLesson}" th:action="@{admin/save-lesson}">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" id="title" placeholder="Title" autocomplete="off" class="form-control" th:field="*{name}">
                </div>

                <div class="form-group">
                    <label for="content">Content:</label>
                    <textarea type="text" rows="4" id="content" placeholder="Content" class="form-control"
                              th:field="*{content}" autocomplete="off"></textarea>
                </div>
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{orderPlace}">
                    <input type="hidden" name="chapter_id" th:value="*{chapter.id}">
                <button class="btn btn-success" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>

</html>
